:root {
   /* colors */
   --gray: rgb(65, 65, 65);
   --gray-green: rgb(63, 70, 63);
   --gray-purple: rgb(64, 62, 68);
   --gray-red: rgb(69, 63, 63);

   --green: rgb(110, 200, 75);
   --green-transparent: rgba(110, 200, 75, 0.50);
   --green-light: rgb(135, 250, 105);
   --green-light-transparent: rgba(134, 250, 105, 0.65);

   --purple: rgb(104, 65, 190);
   --purple-transparent: rgba(104, 65, 190, 0.40);
   --purple-light: rgb(207, 180, 255);
   --purple-light-transparent: rgba(207, 180, 255, 0.65);

   --red: rgb(230, 20, 20);
   --red-transparent: rgba(230, 20, 20, 0.50);
   --red-light: rgb(255, 106, 106);
   --red-light-transparent: rgba(255, 106, 106, 0.65);

   /* css-file-specific */
   --main: var(--green);
   --main-background: var(--gray-green);
   --main-transparent: var(--green-transparent);
   --main-light: var(--green-light);
   --main-light-transparent: var(--green-light-transparent);
 }

/* default settings */
body {
   background-color: var(--main-background);
   color: white;
}

a {
   color: var(--main-light);
   text-decoration: none;
}

a:hover {
   color: var(--main-light-transparent);
   text-decoration: underline;
}

.example-wrapper {
   margin: 1em auto;
   /* max-width: 800px; */
   width: 95%;
   font: 18px/1.5 sans-serif;
}

.example-wrapper code {
   background: #F5F5F5;
   padding: 2px 6px;
}

.sidebar {
   background-color: rgba(0, 0, 0, 0.30);
   width: 300px;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   display: flex;
   flex-direction: column;
}

.sidebarElement {
   padding: 5px;
   margin: 5px;
   margin-bottom: 2px;
   background-color: var(--main-transparent);
}

.sidebarElement > a {
   color: var(--main-light);
}