:root {
   --main-bg-color: brown;

   --green: rgb(110, 200, 75);
   --green-slight-transparent: rgba(110, 200, 75, 0.75);

   --green-strong: rgb(135, 250, 105);
   --green-strong-transparent: rgba(134, 250, 105, 0.75);

   --purple: rgb(104, 55, 190);
   --purple-transparent: rgba(104, 55, 190, 0.50);
 }

/* default settings */
body {
   background-color: rgb(95, 95, 95);
   color: white;
}

a {
   color: var(--green-strong);
   text-decoration: none;
}

a:hover {
   color: var(--green-strong-transparent);
   text-decoration: underline;
}

.example-wrapper {
   margin: 1em auto;
   /* max-width: 800px; */
   width: 95%;
   font: 18px/1.5 sans-serif;
}

.example-wrapper code {
   background: #F5F5F5;
   padding: 2px 6px;
}

.sidebar {
   background-color: gray;
   width: 300px;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   display: flex;
   flex-direction: column;
}