:root {
   /* css-file-specific */
   --main: var(--red);
   --main-gray: var(--gray-red);
   --main-transparent: var(--red-transparent);
   --main-light: var(--red-light);
   --main-light-transparent: var(--red-light-transparent);
}

/* user selection tabs =========================================================================================== */
.tabs {
   display: flex;
   gap: 10px;
}
.tab {
   padding: 10px;
   cursor: pointer;
}
.active-tab {
   background-color: var(--black-transparent);
}