/* CSS for the exercise overview page
 * This file contains styles for the exercise panels and buttons.
 */

/* General styling================================================================================================ */
strong {
   color: var(--main);
}

/* Panel styling================================================================================================== */

/* Container that carries the panels */
.exercise-container {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   justify-content: flex-start;
}

.exercisePanel {
   width: 200px;
   /* flex: 1; streckt Elemente mit der Klasse auf die volle Weite, wenn sie nicht manuell die selbe width hätten */
   margin: 5px;
   margin-left: 0px;
}

.exercisePanel a {
   width: 160px;
   background-color: var(--main);
   color: white;
   padding: 18px 23px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   -webkit-transition-duration: 0.2s; /* Safari */
   transition-duration: 0.2s;
}

.exercisePanel a:hover {
   background-color: var(--main-transparent);
   font-size: 95%;
}

/* Button styling================================================================================================= */
.editButton {
   background-color: var(--main-transparent);
   border: none;
   color: white;
   padding: 8px 12px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   cursor: pointer;
   -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;
}

.editButton:hover {
   background-color: var(--main-light-transparent);
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

i {
   color: var(--main-light);
}


/* show/table styling================================================================================================= */

:root {
   --main-transparent-very: rgba(110, 200, 75, 0.22);
}

.table-wrapper table {
   margin-left: 32px;
   width: 96%;
   border-collapse: collapse;
}
.table-wrapper th, .table-wrapper td {
   border: 1px solid var(--main-light-transparent);
   padding: 8px;
   text-align: center;
}
.table-wrapper tr:nth-child(even) {
   background-color: var(--main-transparent-very);
}
.table-wrapper tr:hover {
   background-color: var(--main-transparent);
}
.table-wrapper tbody tr:hover {
   cursor: pointer;
}
.table-wrapper th, .table-wrapper td {
   text-align: center;
}
.table-wrapper th {
   background-color: var(--main-transparent);
   font-weight: bold;
}
.table-wrapper td {
   vertical-align: middle;
}
/* . */