/* css for the form/type sites */
.abc {
   padding: 5px;
}

/* styling for general input/selection fields */
.mg-add-rows {
   padding: 10px;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
}

/* set width of submit button and textarea */
.mg-add-rows button, .mg-add-rows textarea {
   width: 50%;
}

/* styling for checkbox fields */
.mg-add-check {
   padding: 10px;
}

/* styling for smaller numeric fields*/
.number-input {
   padding: 10px;
}
.number-input input {
   margin-left: 15px;
}

/* href in top part specific styling */
.link-top {
   padding: 10px;
}

/* headline specific styling */
.form-header {
   padding: 10px;
}
