/* css for the form/type sites */
.abc {
   padding: 5px;
}

/* styling for general input/selection fields */
.mg-add-rows {
   padding: 10px;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
}

/* styling for checkbox fields */
.mg-add-check {
   padding: 10px;
}

/* href in top part specific styling */
.link-top {
   padding: 10px;
}

/* headline specific styling */
.form-header {
   padding: 10px;
}
