.tab-container {
   display: flex;
   flex-direction: column;
}

.tabs {
   display: flex;
   gap: 10px;
}

.tab {
   padding: 10px;
   cursor: pointer;
}

.tab-content {
   margin-top: 10px;
   display: flex;
   flex-direction: column;
}

.tab-content>div {
   display: none;
}

.active-tab {
   background-color: rgb(176, 176, 176);
}

/* Container that carries the panels */
.workout-container {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   justify-content: flex-start;
}

/* Panel styling================================================================================================== */
.workoutPanel {
   width: 145px;
   /* flex: 1; streckt Elemente mit der Klasse auf die volle Weite, wenn sie nicht manuell die selbe width hätten */
   margin: 5px;
}

.workoutPanel a {
   background-color: var(--green);
   color: white;
   padding: 14px 25px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
}

.workoutPanel a:hover {
   background-color: var(--green-slight-transparent);
   font-size:95%;
}

/* show-Table styling============================================================================================= */
.workoutTable {
   font-family: Arial, Helvetica, sans-serif;
   border-collapse: collapse;
   width: 60%;
}

.workoutTable td,
.workoutTable th {
   border: 1px solid #ddd;
   padding: 8px;
}

.workoutTable tr:nth-child(even) {
   background-color: rgba(0, 0, 0, 0.3);
}

.workoutTable tr:hover {
   background-color: var(--purple-transparent);
}

.workoutTable th {
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: left;
   background-color: var(--purple);
   color: white;
}
