{% extends 'base.html.twig' %}

{% block title %}Hello ExerciseController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h2>{{ exercise.name }}:</h2>
    <div>{{ exercise.description }}</div>
</div>
{% endblock %}
