{% extends 'base.html.twig' %}

{% block title %}Neue MuscleGroup{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}

{% block body %}
<div class="example-wrapper">
   {{ form(form) }}
</div>
{% endblock %}
