{% extends 'base.html.twig' %}

{% block title %}Hello WorkoutController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h2>Workouts</h2>
    {% if workouts %}
        {% for workout in workouts %}
            <div>
                <a href="{{ path('show_workout', {'id': workout.id}) }}">{{ workout.date|date('Y-m-d') }}</a>
            </div>
        {% endfor %}
    {% endif %}
    <a href="{{ path('new_workout') }}" class="button">New Workout</a>
</div>
{% endblock %}
